astropy==6.0.0
colour==0.1.5
colour_demosaicing==0.2.5
pandas==2.2.1
photutils==1.10.0
pyinstaller==6.5.0
PyQt6==6.6.1
PyQt6_Charts==6.6.0
PyQt6_sip==13.6.0
scikit_image==0.22.0
pyqtdarktheme==2.1.0

# Development requirements are installed in the github workflow
# You have to install these yourself:

# python -m pip install flake8 flake8-pyproject pytest